In [10]:
# Task 1: Create an sqlalchemy engine using a sample from the data set

from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
db_uri = "sqlite:///adult.db"
engine = create_engine(db_uri)
metadata = MetaData()
print(metadata.tables)
metadata.reflect(bind=engine)
print(metadata.tables)
ex_table = metadata.tables['adult_tbl']
print(ex_table)
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

immutabledict({})
immutabledict({'adult_tbl': Table('adult_tbl', MetaData(bind=None), Column('age', INTEGER(), table=<adult_tbl>), Column('workclass', TEXT(), table=<adult_tbl>), Column('fnlwgt', INTEGER(), table=<adult_tbl>), Column('education', TEXT(), table=<adult_tbl>), Column('education-num', INTEGER(), table=<adult_tbl>), Column('marital-status', TEXT(), table=<adult_tbl>), Column('occupation', TEXT(), table=<adult_tbl>), Column('relationship', TEXT(), table=<adult_tbl>), Column('race', TEXT(), table=<adult_tbl>), Column('sex', TEXT(), table=<adult_tbl>), Column('capital-gain', INTEGER(), table=<adult_tbl>), Column('capital-loss', INTEGER(), table=<adult_tbl>), Column('hours-per-week', INTEGER(), table=<adult_tbl>), Column('native-country', TEXT(), table=<adult_tbl>), Column('income', TEXT(), table=<adult_tbl>), schema=None)})
adult_tbl

In [4]:
#Task 2: Write two basic update queries
from sqlalchemy.sql import select
from sqlalchemy import update
connection = engine.connect()
u = update(ex_table, ex_table.c.age=='39')
connection.execute(u, age="40")
u = update(ex_table, ex_table.c.relationship=='Wife')
connection.execute(u, relationship='Wifi')
s = select([ex_table])
result=connection.execute(s)
display(result.fetchmany(10))
connection.close()

[(40, 'State-gov', 77516, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Not-in-family', 'White', 'Male', 2174, 0, 40, 'United-States', '<=50K'),
 (50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 13, 'United-States', '<=50K'),
 (38, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'Handlers-cleaners', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (53, 'Private', 234721, '11th', 7, 'Married-civ-spouse', 'Handlers-cleaners', 'Husband', 'Black', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (28, 'Private', 338409, 'Bachelors', 13, 'Married-civ-spouse', 'Prof-specialty', 'Wifi', 'Black', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (37, 'Private', 284582, 'Masters', 14, 'Married-civ-spouse', 'Exec-managerial', 'Wifi', 'White', 'Female', 0, 0, 40, 'United-States', '<=50K'),
 (49, 'Private', 160187, '9th', 5, 'Married-spouse-absent', 'Other-service', 'Not-in-family', 'Black', 'Female', 0, 0, 16, 'Jamaica', '<=50K'),
 (52, 'Self-emp-not-inc', 209642, 'HS-grad', 9, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 45, 'United-States', '>50K'),
 (31, 'Private', 45781, 'Masters', 14, 'Never-married', 'Prof-specialty', 'Not-in-family', 'White', 'Female', 14084, 0, 50, 'United-States', '>50K'),
 (42, 'Private', 159449, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 5178, 0, 40, 'United-States', '>50K')]

In [5]:
# Task 3: Write two delete queries
from sqlalchemy import delete
connection = engine.connect()
d = delete(ex_table, ex_table.c.age==40)
connection.execute(d)
d = delete(ex_table, ex_table.c.relationship=='Wifi')
connection.execute(d)
s = select([ex_table])
result = connection.execute(s)
display(result.fetchmany(10))
connection.close()

[(50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 13, 'United-States', '<=50K'),
 (38, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'Handlers-cleaners', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (53, 'Private', 234721, '11th', 7, 'Married-civ-spouse', 'Handlers-cleaners', 'Husband', 'Black', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (49, 'Private', 160187, '9th', 5, 'Married-spouse-absent', 'Other-service', 'Not-in-family', 'Black', 'Female', 0, 0, 16, 'Jamaica', '<=50K'),
 (52, 'Self-emp-not-inc', 209642, 'HS-grad', 9, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 45, 'United-States', '>50K'),
 (31, 'Private', 45781, 'Masters', 14, 'Never-married', 'Prof-specialty', 'Not-in-family', 'White', 'Female', 14084, 0, 50, 'United-States', '>50K'),
 (42, 'Private', 159449, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 5178, 0, 40, 'United-States', '>50K'),
 (37, 'Private', 280464, 'Some-college', 10, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'Black', 'Male', 0, 0, 80, 'United-States', '>50K'),
 (30, 'State-gov', 141297, 'Bachelors', 13, 'Married-civ-spouse', 'Prof-specialty', 'Husband', 'Asian-Pac-Islander', 'Male', 0, 0, 40, 'India', '>50K'),
 (23, 'Private', 122272, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Own-child', 'White', 'Female', 0, 0, 30, 'United-States', '<=50K')]

In [6]:
# Task 4: Write two filter queries
from sqlalchemy.sql import select
connection = engine.connect()
#Select Query 1 for selecting records where age is greater than 40
s = select([ex_table], ex_table.c.age>=45)
result = connection.execute(s)
display(result.fetchmany(10))
connection.close()

[(50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 13, 'United-States', '<=50K'),
 (53, 'Private', 234721, '11th', 7, 'Married-civ-spouse', 'Handlers-cleaners', 'Husband', 'Black', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (49, 'Private', 160187, '9th', 5, 'Married-spouse-absent', 'Other-service', 'Not-in-family', 'Black', 'Female', 0, 0, 16, 'Jamaica', '<=50K'),
 (52, 'Self-emp-not-inc', 209642, 'HS-grad', 9, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 45, 'United-States', '>50K'),
 (54, 'Private', 302146, 'HS-grad', 9, 'Separated', 'Other-service', 'Unmarried', 'Black', 'Female', 0, 0, 20, 'United-States', '<=50K'),
 (59, 'Private', 109015, 'HS-grad', 9, 'Divorced', 'Tech-support', 'Unmarried', 'White', 'Female', 0, 0, 40, 'United-States', '<=50K'),
 (56, 'Local-gov', 216851, 'Bachelors', 13, 'Married-civ-spouse', 'Tech-support', 'Husband', 'White', 'Male', 0, 0, 40, 'United-States', '>50K'),
 (54, None, 180211, 'Some-college', 10, 'Married-civ-spouse', None, 'Husband', 'Asian-Pac-Islander', 'Male', 0, 0, 60, 'South', '>50K'),
 (49, 'Private', 193366, 'HS-grad', 9, 'Married-civ-spouse', 'Craft-repair', 'Husband', 'White', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (45, 'Private', 386940, 'Bachelors', 13, 'Divorced', 'Exec-managerial', 'Own-child', 'White', 'Male', 0, 1408, 40, 'United-States', '<=50K')]

In [7]:
# Select Query 2 for selecting records where relationship is Husband
connection = engine.connect()
s = select([ex_table], ex_table.c.relationship=='Husband')
result = connection.execute(s)
display(result.fetchmany(10))
connection.close()

[(50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 13, 'United-States', '<=50K'),
 (53, 'Private', 234721, '11th', 7, 'Married-civ-spouse', 'Handlers-cleaners', 'Husband', 'Black', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (52, 'Self-emp-not-inc', 209642, 'HS-grad', 9, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 45, 'United-States', '>50K'),
 (42, 'Private', 159449, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 5178, 0, 40, 'United-States', '>50K'),
 (37, 'Private', 280464, 'Some-college', 10, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'Black', 'Male', 0, 0, 80, 'United-States', '>50K'),
 (30, 'State-gov', 141297, 'Bachelors', 13, 'Married-civ-spouse', 'Prof-specialty', 'Husband', 'Asian-Pac-Islander', 'Male', 0, 0, 40, 'India', '>50K'),
 (34, 'Private', 245487, '7th-8th', 4, 'Married-civ-spouse', 'Transport-moving', 'Husband', 'Amer-Indian-Eskimo', 'Male', 0, 0, 45, 'Mexico', '<=50K'),
 (38, 'Private', 28887, '11th', 7, 'Married-civ-spouse', 'Sales', 'Husband', 'White', 'Male', 0, 0, 50, 'United-States', '<=50K'),
 (35, 'Federal-gov', 76845, '9th', 5, 'Married-civ-spouse', 'Farming-fishing', 'Husband', 'Black', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (43, 'Private', 117037, '11th', 7, 'Married-civ-spouse', 'Transport-moving', 'Husband', 'White', 'Male', 0, 2042, 40, 'United-States', '<=50K')]

In [9]:
# Task 5: Write two function queries

import sqlite3

#function 1 connects or create database file
def connect(sqlite_file):
    """ Make connection to an SQLite database file """
    conn = sqlite3.connect(sqlite_file)
    c = conn.cursor()
    return conn, c

#function 2 close connection with SQLite database
def close(conn):
    """ Commit changes and close connection to the database """
    conn.close()

#function 3 counts total rows
def total_rows(cursor, table_name, print_out=False):
    """ Returns the total number of rows in the database """
    cursor.execute('SELECT COUNT(*) FROM {}'.format(table_name))
    count = cursor.fetchall()
    if print_out:
        print('\nTotal rows: {}'.format(count[0][0]))
    return count[0][0]

#function 4 gives table columns information
def table_col_info(cursor, table_name, print_out=False):
    """ Returns a list of tuples with column informations:
    (id, name, type, notnull, default_value, primary_key)
    """
    cursor.execute('PRAGMA TABLE_INFO({})'.format(table_name))
    info = cursor.fetchall()
    if print_out:
        print("\nColumn Info:\nID, Name, Type, NotNull, DefaultVal, PrimaryKey")
        for col in info:
            print(col)
    return info

if __name__ == '__main__':
    sqlite_file = 'adult.db'
    table_name = 'adult_tbl'
    conn, c = connect(sqlite_file)                     #function 1  
    total_rows(c, table_name, print_out=True)          #function 2
    table_col_info(c, table_name, print_out=True)      #function 3
    close(conn)

Total rows: 29499

Column Info:
ID, Name, Type, NotNull, DefaultVal, PrimaryKey
(0, 'age', 'INTEGER', 0, None, 0)
(1, 'workclass', 'TEXT', 0, None, 0)
(2, 'fnlwgt', 'INTEGER', 0, None, 0)
(3, 'education', 'TEXT', 0, None, 0)
(4, 'education-num', 'INTEGER', 0, None, 0)
(5, 'marital-status', 'TEXT', 0, None, 0)
(6, 'occupation', 'TEXT', 0, None, 0)
(7, 'relationship', 'TEXT', 0, None, 0)
(8, 'race', 'TEXT', 0, None, 0)
(9, 'sex', 'TEXT', 0, None, 0)
(10, 'capital-gain', 'INTEGER', 0, None, 0)
(11, 'capital-loss', 'INTEGER', 0, None, 0)
(12, 'hours-per-week', 'INTEGER', 0, None, 0)
(13, 'native-country', 'TEXT', 0, None, 0)
(14, 'income', 'TEXT', 0, None, 0)